@import url(https://fonts.googleapis.com/css?family=Nunito);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: #f8fafc;
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic ProN", "Nunito", Meiryo, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #de9610;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  vertical-align: bottom;
}

input,
textarea {
  border: none;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-header {
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  background: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  transition: 0.6s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .l-header {
    padding: 0 16px;
  }
}

.l-header--left {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .l-header--left {
    width: 100%;
  }
}

.l-header__title {
  font-size: 40px;
  font-family: "Oswald", "Hiragino Kaku Gothic ProN", "Nunito", Meiryo, sans-serif;
  margin-right: 16px;
}

.l-header__title:hover {
  color: #333;
}

@media screen and (max-width: 576px) {
  .l-header__title {
    font-size: 24px;
  }
}

.l-footer {
  background: #707070;
  color: white;
  margin-top: auto;
  min-height: 100px;
}

.l-footer__body {
  padding: 40px;
  text-align: center;
}

.l-footer__text {
  font-size: 14px;
}

.l-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .l-container {
    padding: 16px;
  }
}

.l-container--withSide {
  display: flex;
}

@media screen and (max-width: 768px) {
  .l-container--withSide {
    display: block;
    position: relative;
  }
}

.l-container__header {
  margin-bottom: 32px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .l-container__header {
    margin-bottom: 24px;
  }
}

.l-container__title {
  color: #de9610;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .l-container__title {
    font-size: 20px;
  }
}

.l-container__body {
  width: 100%;
  margin-bottom: 40px;
}

.l-container__body--withSide {
  width: 75%;
  margin-left: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-container__body--withSide {
    width: 100%;
    margin-left: 0;
  }
}

.l-container__body--form {
  max-width: 580px;
  margin: 0 auto;
}

.l-container__body--1column {
  max-width: 690px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-nav {
    display: block;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 60px;
    right: -70vw;
    height: 100vh;
    width: 70vw;
    transition: 0.6s;
    z-index: 2;
  }

  .l-nav.isActive {
    transform: translateX(-100%);
  }
}

.l-sidebar {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .l-sidebar {
    width: 100%;
    display: none;
  }
}

.l-band {
  background: #de9610;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-hero {
  background-image: url("/images/top-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.p-hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 32px 0;
}

@media screen and (max-width: 768px) {
  .p-hero__inner {
    padding: 16px 0;
  }
}

.p-hero__text {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.p-hero__text--copy {
  font-family: "Oswald", "Hiragino Kaku Gothic ProN", "Nunito", Meiryo, sans-serif;
  font-size: 40px;
  line-height: 2;
}

@media screen and (max-width: 576px) {
  .p-hero__text--copy {
    font-size: 20px;
  }
}

.p-band {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .p-band {
    display: block;
    margin: 16px 0;
  }
}

.p-band__text {
  font-size: 20px;
  color: white;
  margin-right: 8px;
}

@media screen and (max-width: 576px) {
  .p-band__text {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.p-desc {
  background: white;
  box-sizing: border-box;
  margin-right: 40px;
  padding: 16px;
  width: 33.3%;
}

.p-desc:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .p-desc {
    margin-bottom: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .p-desc {
    margin-bottom: 16px;
  }
}

.p-desc__container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .p-desc__container {
    display: block;
  }
}

.p-desc__title {
  font-size: 20px;
  margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
  .p-desc__title {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.p-desc__subtitle {
  font-size: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #de9610;
}

@media screen and (max-width: 576px) {
  .p-desc__subtitle {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.p-desc__text {
  font-size: 14px;
  margin-bottom: 40px;
}

.p-desc__text:last-child {
  margin-bottom: 0;
}

.c-btn {
  cursor: pointer;
  display: block;
  background: #de9610;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #ccc;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  width: 150px;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .c-btn {
    line-height: 40px;
  }
}

.c-btn:hover {
  color: white;
  transform: scale(1.05);
}

.c-btn--em {
  background: #fa5858;
}

.c-btn--full {
  width: 100%;
}

.c-btn--full:hover {
  transform: scale(1.03);
}

.c-btn--hero {
  box-shadow: none;
  font-size: 20px;
  width: 200px;
}

@media screen and (max-width: 576px) {
  .c-btn--hero {
    font-size: 16px;
  }
}

.c-btn--band {
  border: 2px solid white;
  box-shadow: none;
  font-size: 20px;
}

.c-btn--band:hover {
  transform: none;
  background: white;
  color: #de9610;
}

@media screen and (max-width: 576px) {
  .c-btn--band {
    margin: 0 auto;
    font-size: 16px;
  }
}

.c-btn__container {
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .c-btn__container {
    margin-bottom: 16px;
  }
}

.c-btn__container--right {
  background: white;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .c-btn__container--right {
    padding: 16px;
  }
}

.c-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 40px;
  margin-right: 40px;
  padding: 16px;
  transition: 0.3s;
  width: calc(25% - 40px);
}

.c-card:nth-child(4n) {
  margin-right: 0;
}

.c-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
  .c-card {
    width: calc(50% - 40px);
  }

  .c-card:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .c-card {
    padding: 4px;
    margin-bottom: 16px;
    margin-right: 16px;
    width: calc(50% - 16px);
  }

  .c-card:nth-child(even) {
    margin-right: 0;
  }
}

.c-card--lg {
  width: calc(50% - 40px);
  margin-right: 40px;
}

.c-card--lg:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .c-card--lg {
    width: 100%;
    margin-right: 0;
  }
}

.c-card__img {
  display: block;
  width: 60px;
  margin: 0 auto 16px auto;
}

@media screen and (max-width: 576px) {
  .c-card__img {
    width: 40px;
    margin: 0 auto 4px auto;
  }
}

.c-card__title {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .c-card__title {
    font-size: 14px;
  }
}

.c-card__title--lg {
  border-bottom: 2px solid #de9610;
  font-size: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 576px) {
  .c-card__title--lg {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.c-card__text {
  font-size: 14px;
  margin-bottom: 8px;
}

.c-card__text > span {
  color: #fa5858;
  font-weight: bold;
  font-size: 20px;
}

.c-cardList__header {
  margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
  .c-cardList__header {
    margin-bottom: 16px;
  }
}

.c-cardList__title {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .c-cardList__title {
    font-size: 16px;
  }
}

.c-cardList__body {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
}

@media screen and (max-width: 576px) {
  .c-cardList__body {
    margin-right: -16px;
  }
}

.c-cardList__body--lg {
  margin-right: -40px;
}

@media screen and (max-width: 768px) {
  .c-cardList__body--lg {
    margin-right: 0;
  }
}

.c-flash {
  background: #fa5858;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
}

.c-form {
  background: white;
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .c-form {
    padding: 16px;
  }
}

.c-form__group {
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .c-form__group {
    margin-bottom: 16px;
  }
}

.c-form__group--price {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 576px) {
  .c-form__group--price {
    flex-wrap: wrap;
  }
}

.c-form__group--drop {
  box-sizing: border-box;
  border: 2px dashed #707070;
  display: block;
  font-size: 12px;
  background: #f8fafc;
  height: 150px;
  line-height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.c-form__group--sm {
  margin-bottom: 16px;
}

.c-form__label {
  display: inline-block;
}

.c-form__label--radio {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 576px) {
  .c-form__label {
    font-size: 14px;
  }
}

.c-form__input,
.c-form__textarea,
.c-form__select {
  box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 4px;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 4px;
  width: 100%;
}

.c-form__input.isInvalid,
.c-form__textarea.isInvalid,
.c-form__select.isInvalid {
  border: 1px solid red;
}

@media screen and (max-width: 576px) {
  .c-form__input,
  .c-form__textarea,
  .c-form__select {
    font-size: 14px;
    height: 40px;
  }
}

.c-form__input--price {
  width: 20%;
}

@media screen and (max-width: 576px) {
  .c-form__input--price {
    width: 50%;
    margin-bottom: 8px;
  }
}

.c-form__textarea {
  height: 200px;
}

.c-form__textarea--message {
  height: 80px;
}

@media screen and (max-width: 576px) {
  .c-form__textarea--message {
    height: 40px;
  }
}

.c-form__radio {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.c-form__select {
  color: #333;
  background: #f8fafc;
  font-size: 14px;
}

.c-form__select--price {
  width: auto;
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.c-form__file {
  height: 150px;
  width: 150px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.c-form__preview {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c-form__price {
  margin: 0 4px;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .c-form__price {
    margin-bottom: 4px;
  }
}

.c-form__link {
  font-size: 14px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.c-form__link:last-child {
  margin-bottom: 0;
}

.c-form__text {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.c-form__text--error {
  color: red;
  margin-bottom: 0;
}

.c-form__sample {
  border-radius: 4px;
  background: rgba(222, 150, 16, 0.15);
  font-size: 14px;
  padding: 4px;
  margin-bottom: 16px;
}

@media screen and (max-width: 576px) {
  .c-form__sample {
    font-size: 12px;
  }
}

.c-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .c-menu {
    display: none;
  }
}

.c-menu--side {
  display: block;
}

.c-menu__tab {
  background: #ddd;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 8px;
}

.c-menu__item {
  display: block;
  margin-right: 4px;
}

.c-menu__item:last-child {
  margin-right: 0;
}

.c-menu__item--side {
  background: white;
  border-bottom: 1px solid #f8fafc;
  margin-right: 0;
}

.c-menu__link {
  border-bottom: 2px solid white;
  display: block;
  font-size: 14px;
  padding: 4px 0;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .c-menu__link {
    font-size: 12px;
  }
}

.c-menu__link:hover {
  border-bottom: 2px solid #de9610;
}

.c-menu__link--side {
  border: none;
  padding: 8px;
}

.c-menu__link--side:hover {
  border: none;
}

.c-menuTrigger {
  cursor: pointer;
  box-sizing: border-box;
  display: none;
  height: 28px;
  width: 36px;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .c-menuTrigger {
    display: block;
  }
}

.c-menuTrigger__bar {
  background: #707070;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 4px;
  position: absolute;
  left: 0;
  width: 100%;
  transition: 0.6s;
}

.c-menuTrigger__bar:nth-of-type(1) {
  top: 0;
}

.c-menuTrigger__bar:nth-of-type(2) {
  top: 12px;
}

.c-menuTrigger__bar:nth-of-type(3) {
  bottom: 0;
}

.c-menuTrigger__bar.isActive:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.c-menuTrigger__bar.isActive:nth-of-type(2) {
  left: 70%;
  height: 0;
  opacity: 0;
}

.c-menuTrigger__bar.isActive:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

.c-spMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .c-spMenu {
    display: block;
  }
}

.c-spMenu__container {
  display: none;
}

@media screen and (max-width: 768px) {
  .c-spMenu__container {
    display: block;
  }
}

.c-spMenu__item {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.c-spMenu__link {
  display: inline-block;
  font-size: 14px;
  padding: 4px 0;
  transition: 0.3s;
}

